<main>
  <nav>
    <section class="top-bar">
      <a>
        <header class="brand-name">
          <h1>{{title}}</h1>
        </header>
      </a>
      <div class="btn-group">
        <a id="list" class="button fancy-button" type="button"(click)="onDisplayModeChange(1)"
        [ngClass]="{'btn-primary active': displayMode === 1}"><i class="material-icons">list</i></a>
        <a id="grid" class="button fancy-button" type="button"(click)="onDisplayModeChange(2)"
        [ngClass]="{'btn-primary active': displayMode === 2}"><i class="material-icons">grid_view</i></a>
      </div>
    </section>
    <section>
      <form>
        <input type="text" placeholder="Filter by name" #filter>
        <button class="primary" type="button" (click)="filterResults(filter.value)">Search</button>
      </form>
    </section>
  </nav>
  <div class="spinner" *ngIf="loading">
    <svg class="preloader__image" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
      <path fill="currentColor"
        d="M304 48c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48zm-48 368c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zm208-208c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zM96 256c0-26.51-21.49-48-48-48S0 229.49 0 256s21.49 48 48 48 48-21.49 48-48zm12.922 99.078c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.491-48-48-48zm294.156 0c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.49-48-48-48zM108.922 60.922c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.491-48-48-48z">
      </path>
    </svg>
  </div>
  <section class="results" *ngIf="!loading">
    <!-- List -->
    <section class="row-list" *ngIf="displayMode === 1">
      <app-list-container *ngFor="let productCard of filteredCardList" 
      [productCard]="productCard"></app-list-container>
    </section>
    <!-- Grid -->
    <section class="row-grid" *ngIf="displayMode === 2">
      <app-grid-container *ngFor="let productCard of filteredCardList" 
      [productCard]="productCard"></app-grid-container>
    </section>
  </section>
</main>